h1.mainTitle {
    margin: 5% 0%;
    text-align: center;
    font-family: TESLA;
    font-weight: 600;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-display: TESLA;
}

h2 {
    color: white;
    font-size: 25px;
    margin: 0% 3%;
    font-family: Mylodon;
    font-display: Mylodon;
}

h1.Logo {
    font-family: TESLA;
    font-size: 28px;
    top: 5px;
    left: 15px;
    position: absolute;
    color: white;
    font-display: TESLA;
    text-decoration: none;
}
g
h1.Logo a {
    color: white;
    font-size: 28px;
    position: absolute;
    text-decoration: none;
}

.divider {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
}

.divider2 {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    top: 35px;
}

.divider3 {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    top: 45px;
}

.divider4 {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    top: 45px;
}

.divider5 {
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
    top: 45px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, tr{
    border: 1px solid rgba(139, 139, 139, 0.9);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: transparent;
    color: white;
}

tr:nth-child(odd) {
    background-color: rgba(20, 55, 151, 0.9);
    opacity: 100%;
    color: rgb(255, 255, 255);
}

.ebike_image {
    float: right;
    bottom: 36px;
    right: 38px;
    position: relative;
    margin: 0% 3%;
    background-size: 100%;
    
}

.ebike_image:hover {
    opacity: 90%;
    transition: 0.4s;  
}

.UrbanEbike {
    float: right; 
    position: relative; 
    bottom: 10px;
    /* margin: 0% 2% */
    right: 80px;
    background-size: 100%;
}

.UrbanEbike:hover {
    opacity: 90%;
    transition: 0.4s;
}

.DeluxeEbike {
    float: right; 
    position: relative; 
    bottom: 10px;
    /* margin: 0% 2% */
    right: 120px;
    background-size: 100%;
}

.DeluxeEbike:hover {
    opacity: 90%;
    transition: 0.4s;
}

p.textarea {
    max-width: 700px;
    margin: 2% 3%;
    color: white;
    font-family: Fira Code;
    position: relative;
    top: 67px;
    font-size: 17px;
    size: 50%;
    vertical-align: center;
    font-display: Fira Code;
}
h2.urbanVersion {
    font-family: system-ui;
    color: white;
    margin: 1% 3%;
    padding-bottom: 0px;
    top: 35px;
    font-size: 42px;
    position: relative;
}

h2.deluxeVersion {
    font-family: system-ui;
    color: white;
    margin: 2% 3%;
    top: 50px;
    font-size: 42px;
    position: relative;
}

h2.supremeVersion {
    font-family: system-ui;
    color: white;
    margin: 2% 3%;
    top: 60px;
    font-size: 42px;
    position: relative;
    vertical-align: center;
}

h2.Impact {
    font-family: system-ui;
    color: white;
    margin: 1% 3%;
    top: 60px;
    font-size: 34px;
    position: relative;
    vertical-align: center
}