body {
   background-image: none;
}

.button:active::after {
   padding: 20%;
}

.box {
   margin: 30px;
   background-color: rgb(212, 212, 212);
   border: 1px solid black;
   border-radius: 7px;
   opacity: 87%;
   align-items: center;
   color: black;
   z-index: 0;
 }
 
.box:hover {
   transition: all 0.4s ease;
   background-color: rgb(22, 163, 40);
   opacity: 110%;
}

.box:hover p {
   
}

h1 {
   text-align: center;
   margin-top: 10%;
   color: rgb(255, 255, 255);
}

body {
   background-image: url('2021-05-11-16-31-36.png');
   background-size: cover;
}

.body {
   font-family: Open Sans;
   margin-bottom: 3%;
   text-align: center;
   margin-left: 4%;
   margin-right: 3%;
}

.title {
   font-family: Quattrocento;
   margin-top: 3%;
   margin-left: 3%;
   margin-right: 3%;
}

.mainReviews h1 {
   font-size: 47px;
   font-family: Open Sans;
   text-shadow: grey 2px 3px 3px;
   padding-bottom: 5%;
}

.customerReviews {
   position: relative;
   font-size: 45px;
   font-family: Proza Libre;
   bottom: 10%;
   left: 25%;
   margin-top: 30px;
   padding: 15%;
}

.customerReviewsContainer {
   bottom: 10%;
   position: relative;
   padding: 8%;
   padding-bottom: 10%;
}

.parallax {
   position: relative;
   right: 30px;
   bottom: 30px;
   background-image: url('https://i.pinimg.com/736x/59/42/41/5942417f41e00f04120c3f84432ea699.jpg');
   background-attachment: fixed;
   background-size: cover;
   width: 105%;
   min-height: 400px;
}

button {
   background-color: #76ff98;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 40px;
    font-family: Open Sans;
    border-radius: 25px;
    margin-left: 10%;
}

button:hover {
   background-color: rgb(161, 224, 89);
   transition: 0.4s ease-in-out;
}